:root {
    --header: #6D2323;
    --background: #A31D1D;
    --device: #931F1F;
    --buttons: #E5D0AC;
    --buttons-hover: #F7EDD1;
    --buttons-active: #FEF9E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-seif
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
    background-color: var(--header);
    color: white;
    border-bottom: 0.5vh solid var(--buttons);
    text-shadow: 0 0 5px black;
}

/* MAIN */

.main {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh 1vw;
    gap: 20vw;
}

.controls {
    background-color: var(--device);
    padding: 5vh 5vw;
    border-radius: 15px;
    border: 0.5vh solid var(--buttons);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.tool-container,
.main-colour-container,
.slider-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.colour-container {
    display: flex;
    flex: 1;
    gap: 10px;
}

.colour-box {
    border-radius: 3px;
    width: 40px;
    height: 40px;
    border: 3px solid var(--buttons);
}

/* FOOTER */

.footer {
    position: fixed;
    bottom: 0px;
    height: 7vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header);
    color: white;
    border-top: 0.5vh solid var(--buttons);
    text-shadow: 0 0 5px black;
}

.github {
    height: 3.5vh;
    width: auto;
    margin-left: 10px;
}

.github:hover {
    height: 3.7vh;
}

.github:active {
    height: 3.8vh;
}