:root {
    --header: #6D2323;
    --background: #A31D1D;
    --device: #931F1F;
    --buttons: #E5D0AC;
    --buttons-hover: #F7EDD1;
    --buttons-active: #FEF9E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-seif
}

/* FOOTER */

.footer {
    position: fixed;
    bottom: 0px;
    height: 7vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    height: 3.5vh;
    width: auto;
    margin-left: 10px;
}

.github:hover {
    height: 3.7vh;
}

.github:active {
    height: 3.8vh;
}